@model LicenseModel
@{
    ViewData["Title"] = "Generate License File";
}

<h1>Generate License File</h1>

<form method="post">
    <div asp-validation-summary="All" class="alert alert-danger"></div>
    <div class="row">
        <div class="col-md">
            <div class="mb-3">
                <label asp-for="UserId" class="form-label"></label>
                <input type="text" class="form-control" asp-for="UserId">
            </div>
        </div>
        <div class="col-md">
            <div class="mb-3">
                <label asp-for="OrganizationId" class="form-label"></label>
                <input type="text" class="form-control" asp-for="OrganizationId">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="mb-3">
                <label asp-for="InstallationId" class="form-label"></label>
                <input type="text" class="form-control" asp-for="InstallationId">
            </div>
        </div>
        <div class="col-md">
            <div class="mb-3">
                <label asp-for="Version" class="form-label"></label>
                <input type="number" class="form-control" asp-for="Version">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Generate</button>
</form>