<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome</title>
    <link href="../styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <table class="body-wrap">
        <tr>
            <td valign="middle" class="aligncenter middle logo">
                <img src="https://bitwarden.com/images/logo-gray.png" alt="" width="250" height="39" />
            </td>
        </tr>
        <tr>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            Thank you for creating an account with bitwarden. You may now log in with your new account.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            Did you know that bitwarden is free to sync with all of your devices? Download bitwarden today on:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3">
                                            Mobile
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="middle" class="aligncenter middle" width="50%">
                                                        <a href="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden" title="Get bitwarden on Google Play" target="_blank">
                                                            <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" height="63" width="163" alt="Get bitwarden on Google Play" />
                                                        </a>
                                                    </td>
                                                    <td valign="middle" class="aligncenter middle" width="50%">
                                                        <a href="https://itunes.apple.com/us/app/bitwarden-free-password-manager/id1137397744?mt=8" target="_blank" title="Get bitwarden for iOS">
                                                            <img src="https://bitwarden.com/images/app-store-badge.png" width="135" height="40" alt="Get bitwarden for iOS" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3">
                                            Desktop
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="aligncenter" width="33%">Chrome</td>
                                                    <td class="aligncenter" width="34%">Firefox</td>
                                                    <td class="aligncenter" width="33%">Opera</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="middle" class="aligncenter middle" width="33%">
                                                        <a href="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb?utm_source=welcome_email&utm_medium=email" title="Get bitwarden for Chrome" target="_blank">
                                                            <img width="53" height="54" alt="Chrome Extension" src="https://bitwarden.com/images/chrome.png" />
                                                        </a>
                                                    </td>
                                                    <td valign="middle" class="aligncenter middle" width="34%">
                                                        <img width="57" height="54" alt="Firefox Extension" src="https://bitwarden.com/images/firefox.png" />
                                                    </td>
                                                    <td valign="middle" class="aligncenter middle" width="33%">
                                                        <img width="53" height="54" alt="Opera Extension" src="https://bitwarden.com/images/opera.png" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="h3">
                                            Web
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            You can also access your vault from any web-enabled device using our web vault at <a target="_blank" href="https://vault.bitwarden.com/?utm_source=welcome_email&utm_medium=email">https://vault.bitwarden.com</a>.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            If you have any questions or problems you can email us from our website at <a target="_blank" href="https://bitwarden.com/contact/?utm_source=welcome_email&utm_medium=email">https://bitwarden.com/contact</a>.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block last">
                                            &mdash; The bitwarden Team
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">8bit Solutions LLC&lt;%body%&gt;</td>
                            </tr>
                            <tr>
                                <td class="aligncenter social-icons">
                                    <a href="https://twitter.com/bitwarden_app" target="_blank"><img src="https://bitwarden.com/images/mail-twitter.png" alt="Twitter" width="30" height="30" /></a><a href="https://www.facebook.com/bitwarden/" target="_blank"><img src="https://bitwarden.com/images/mail-facebook.png" alt="Facebook" width="30" height="30" /></a><a href="https://plus.google.com/114869903467947368993" target="_blank"><img src="https://bitwarden.com/images/mail-gplus.png" alt="Google+" width="30" height="30" /></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
