{{#>FullHtmlLayout}}
<p>
    You have been invited to join the {{OrganizationName}} organization. To accept this invite, click the following
    link:
</p>
<p>{{{link Url 'true'}}}</p>
<p>
    If you do not wish to join this organization, you can safely ignore
    this email.
</p>
{{/FullHtmlLayout}}
