{{#>TitleContactUsHtmlLayout}}
<div>
    <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 15px; margin-left: 35px; margin-right: 35px;">
        You may now access logins and other items this organizations has shared with you from your Bitwarden vault.
    </div>
</div>
<div>
    <div style="display: block;" align="center">
        <a href="https://vault.bitwarden.com/" clicktracking=off target="_blank" style="color: #ffffff; text-decoration: none; text-align: center; cursor: pointer; border-radius: 5px; background-color: #175DDC; border-color: #175DDC; border-style: solid; border-width: 10px 20px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 16px; line-height: 25px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">
            Go to vault
        </a>
    </div>
</div>
<div>
    <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 15px; margin-bottom: 15px; margin-left: 35px; margin-right: 35px;">
        <b>Tip: </b>Use the Bitwarden mobile app to quickly save logins and auto-fill forms. Download from the <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://apps.apple.com/us/app/bitwarden-password-manager/id1137397744">App Store</a> or <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden">Google Play</a>.
    </div>
</div>
<div style="margin-bottom: 15px;">
    <div style="display: block; box-sizing: border-box; clear: both; text-align: center;">
        <a href='https://play.google.com/store/apps/details?id=com.x8bit.bitwarden' target="_blank" style="vertical-align: top; margin-left: 10px; margin-right: 10px; "><img style="height: 60px; width: 150px; display: inline-block;" alt='Android download' src='https://assets.bitwarden.com/email/v1/google-play-badge.png' /></a>
        <a href="https://apps.apple.com/us/app/bitwarden-password-manager/id1137397744" target="_blank" style="vertical-align: top; margin-left: 10px; margin-right: 10px;"><img style="height: 40px; width: 135px; display: inline-block; margin-top: 10px" alt="iOS download" src="https://assets.bitwarden.com/email/v1/App-store.png" /></a>
    </div>
</div>
{{/TitleContactUsHtmlLayout}}
