{{#>TitleContactUsHtmlLayout}}
<div>
    <div style="display: block; margin-top: 35px;" align="center">
        <a href="{{{Url}}}" clicktracking=off target="_blank" style="color: #ffffff; text-decoration: none; text-align: center; cursor: pointer; border-radius: 5px; background-color: #175DDC; border-color: #175DDC; border-style: solid; border-width: 10px 20px; margin: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 16px; line-height: 25px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">
            Join Organization Now
        </a>
    </div>
</div>
<div>
    <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
        This invitation expires on <b>{{ExpirationDate}}</b>
    </div>
</div>
{{/TitleContactUsHtmlLayout}}

