{{#>FullHtmlLayout}}
<div width="auto" cellpadding="0" cellspacing="0" style="padding:0; margin:-20px">
    <div style="display:block;background-color: #175DDC; margin: 0;">
        <div style="position:relative; display: inline-block; margin-left: auto; margin-right: auto; height: 204px; width: 66%;">
            <div style="margin-left: 35px; margin-right: 10px; margin-top: 75px; margin-bottom: 75px; font-family: 'Open Sans'; box-sizing: border-box; font-size: 24px; color: #ffffff; line-height: 32px; font-weight: 400; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">
                You’re confirmed as a member of <b style="font-family: 'Open Sans'; box-sizing: border-box; font-size: 24px; line-height: 32px; font-weight: 700; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; color: #ffffff;">{{OrganizationName}}</b>!
            </div>
        </div>
        <div style="width: 33%; display: inline-block; margin-left: auto; margin-right: auto; vertical-align: bottom;">
            <a href='https://play.google.com/store/apps/details?id=com.x8bit.bitwarden&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
        </div>
    </div>
    <div>
        <div style="font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 15px; margin-left: 35px; margin-right: 35px; text-align: center; ">
            You may now access logins and other items this organizations has shared with you from your Bitwarden vault.
        </div>
    </div>
    <div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="https://vault.bitwarden.com/" clicktracking=off target="_blank" style="color: #ffffff; text-decoration: none; text-align: center; cursor: pointer; border-radius: 5px; background-color: #175DDC; border-color: #175DDC; border-style: solid; border-width: 10px 20px; margin: 0; font-family: 'Open Sans'; box-sizing: border-box; font-size: 16px; line-height: 25px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">
                Go to vault
            </a>
        </div>
    </div>
    <div>
        <div style="font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 15px; margin-bottom: 15px; margin-left: 35px; margin-right: 35px; text-align: center;">
            <b>Tip:</b> Use the Bitwarden mobile app to quickly save logins and auto-fill forms.
        </div>
    </div>
    <div style="margin-bottom: 15px;">
        <div style="display: block; box-sizing: border-box; clear: both; text-align: center;">
            <a href='https://play.google.com/store/apps/details?id=com.x8bit.bitwarden&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img style="height: 40px; width: 135px; display: inline-block; margin-left: auto; margin-right: auto;" alt='Android download' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' />
            </a>
            <a href="https://apps.apple.com/us/app/bitwarden-password-manager/id1137397744">
                <img style="height: 40px; width: 135px; display: inline-block; margin-left: auto; margin-right: auto;" alt="iOS download" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/135px-Download_on_the_App_Store_Badge.svg.png" />
            </a>
        </div>
    </div>
    <div style="display:block;background-color: #FBFBFB;">
        <div style="display: inline-block; max-width: 66%; font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; padding-left: 35px; margin-top: 15px; margin-bottom: 20px; margin-left: auto; margin-right: auto; vertical-align: middle; ">
            <p style="font-family: 'Open Sans'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px;">We’re here for you!</p>
            If you have any questions, search the Bitwarden <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://bitwarden.com/help/">Help</a> site or <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://bitwarden.com/contact/">contact us</a>.
        </div>
        <div style="display: inline-block; margin-left: auto; margin-right: auto; width: 33%; vertical-align: middle; ">
            <img src="https://www.pngpix.com/wp-content/uploads/2016/10/PNGPIX-COM-Explosion-PNG-Transparent-Image-1-500x458.png" style="height:120px;display:block;margin:auto;" />
        </div>
    </div>
</div>
{{/FullHtmlLayout}}
