{{#>FullHtmlLayout}}
<p>
    Click the following link to log in:
</p>
<p>{{{link Url 'true'}}}</p>
<p>
    If you did not request to log in, you can safely ignore this email.
</p>
{{/FullHtmlLayout}}
