{{#>FullHtmlLayout}}
<p>
    Verify this email address for your Bitwarden account by clicking the following link.
    If you did not request this email to verify a Bitwarden account, you can safely ignore it.
</p>
<p>{{{link Url 'true'}}}</p>
{{/FullHtmlLayout}}
