$primary: #175DDC;
$primary-accent: #1252A3;
$success: #00a65a;
$info: #555555;
$warning: #bf7e16;
$danger: #dd4b39;

$theme-colors: ( "primary-accent": $primary-accent );

$body-bg: #ffffff;
$body-color: #333333;

$font-family-sans-serif: 'Open Sans','Helvetica Neue',Helvetica, Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';

$h1-font-size: 2rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$small-font-size: 90%;
$font-size-lg: 1.15rem;
$code-font-size: 100%;

$navbar-padding-y: .75rem;
$grid-gutter-width: 20px;
$card-spacer-y: .6rem;

$list-group-item-padding-y: .6rem;
$list-group-active-color: $body-color;
$list-group-active-bg: #ffffff;
$list-group-active-border-color: rgba(#000000, .125);

$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: rgba(#000000, .06);
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: rgba(#000000, .1);
$dropdown-item-padding-x: 1rem;

$navbar-brand-font-size: 35px;
$navbar-brand-height: 35px;
$navbar-brand-padding-y: 0;
$navbar-dark-color: rgba(#ffffff, .7);
$navbar-dark-hover-color: rgba(#ffffff, .9);
$navbar-nav-link-padding-x: 0.8rem;

$input-bg: #fbfbfb;
$input-focus-bg: #ffffff;
$input-disabled-bg: #e0e0e0;
$input-placeholder-color: #b4b4b4;

$table-accent-bg: rgba(#000000, .02);
$table-hover-bg: rgba(#000000, .03);

$modal-backdrop-opacity: 0.3;
$btn-font-weight: 600;
$lead-font-weight: normal;

$grid-breakpoints: (
  xs: 0,
  sm: 1px,
  md: 2px,
  lg: 3px,
  xl: 4px
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


html {
    font-size: 14px;
}

body {
    min-width: 1010px;
}

.page-header, .secondary-header {
    border-bottom: 1px solid $border-color;
    padding-bottom: 0.6rem;
    margin-bottom: 0.5rem;

    h1, h2, h3, h4 {
        margin: 0;
    }
}

h1, h2, h3, h4, h5 {
    small {
        font-size: 80%;
    }
}

input, select, textarea {
    &:required {
        box-shadow: none;
    }
}

.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    .dropdown-menu {
        min-width: 200px;
        max-width: 300px;

        .dropdown-item-text {
            line-height: 1.3;

            span, small {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .nav-link {
        font-weight: 600;
    }
}

.dropdown-menu {
    button {
        cursor: pointer;
    }
}

.container {
    width: 980px;
    max-width: none !important;
    margin: 0 auto;
    padding: 0;
}

.page-content {
    margin-top: 20px;
}

.footer {
    margin-top: 40px;
    padding: 40px 0 40px 0;
    border-top: 1px solid $border-color;
}

.callout {
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: 1px solid $card-border-color;
    border-left-width: 5px;
    border-radius: $card-inner-border-radius;
    background-color: #fafafa;

    .callout-heading {
        margin-top: 0;
    }

    h3.callout-heading {
        font-weight: bold;
        text-transform: uppercase;
    }

    &.callout-primary {
        border-left-color: $primary;

        .callout-heading {
            color: $primary;
        }
    }

    &.callout-info {
        border-left-color: $gray-800;

        .callout-heading {
            color: $gray-800;
        }
    }

    &.callout-danger {
        border-left-color: $danger;

        .callout-heading {
            color: $danger;
        }
    }

    &.callout-success {
        border-left-color: $success;

        .callout-heading {
            color: $success;
        }
    }

    &.callout-warning {
        border-left-color: $warning;

        .callout-heading {
            color: $warning;
        }
    }
}

.config-section {
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        border-bottom: 1px solid #ccc;
    }
}

//////////////////////////

.validation-summary-valid {
    display: none;
}

.alert.validation-summary-errors > ul {
    margin-bottom: 0;
}
