# Please sort lines alphabetically, this will ensure we don't accidentally add duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

**/SecretsManager @bitwarden/team-secrets-manager-dev
**/Vault @bitwarden/team-vault-dev
