@model UserViewModel
@{
    ViewData["Title"] = "User: " + Model.User.Email;
}

<h1>User <small>@Model.User.Email</small></h1>

<h2>Information</h2>
@await Html.PartialAsync("_ViewInformation", Model)
<form asp-action="Delete" asp-route-id="@Model.User.Id"
      onsubmit="return confirm('Are you sure you want to delete this user?')">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
