@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        @if(!string.IsNullOrWhiteSpace(Model.Success))
        {
            <div class="alert alert-success" role="alert">@Model.Success</div>
        }
        else if(!string.IsNullOrWhiteSpace(Model.Error))
        {
            <div class="alert alert-danger" role="alert">@Model.Error</div>
        }
        <div class="card">
            <div class="card-body">
                <p>Please enter your email address below to log in.</p>
                <form asp-action="" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Email" class="visually-hidden">Email Address</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="ex. john@example.com"
                               required autofocus>
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                        <div class="form-text">We'll email you a secure login link.</div>
                    </div>
                    <button class="btn btn-primary" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
