@model ProviderViewModel
@{
    ViewData["Title"] = "Provider: " + Model.Provider.Name;
}

<h1>Provider <small>@Model.Provider.Name</small></h1>

<h2>Information</h2>
@await Html.PartialAsync("_ViewInformation", Model)
@await Html.PartialAsync("Admins", Model)
@await Html.PartialAsync("Organizations", Model)
