.data
secrets.json

# Docker container configurations
.env
authsources.php
directory.ldif

# Development certificates
identity_server_dev.crt
identity_server_dev.key
identity_server_dev.pfx
data_protection_dev.crt
data_protection_dev.key
data_protection_dev.pfx

# Reverse Proxy Conifg
reverse-proxy.conf