.data
secrets.json
*.db

# Docker container configurations
.env
authsources.php

# Development certificates
identity_server_dev.crt
identity_server_dev.key
identity_server_dev.pfx
data_protection_dev.crt
data_protection_dev.key
data_protection_dev.pfx

signingkey.jwk

# Reverse Proxy Conifg
reverse-proxy.conf
