{
  "adminSettings": {
    "admins": "admin@localhost,owner@localhost,cs@localhost,billing@localhost,sales@localhost",
    "role": {
        "owner": "owner@localhost",
        "admin": "admin@localhost",
        "cs": "cs@localhost",
        "billing": "billing@localhost",
        "sales": "sales@localhost"
    }
  },
  "globalSettings": {
    "selfHosted": true,
    "launchDarkly": {
       "flagValues": {
       }
    },
    "pricingUri": "<your pricing service uri>",
    "baseServiceUri": {
      "cloudRegion": "<cloud region for webhooks>",
      "vault": "<vault service uri>",
      "api": "<api service uri>",
      "identity": "<api service uri>",
      "admin": "<admin service uri>",
      "notifications": "<notifications service uri>",
      "sso": "<sso service uri>",
      "billing": "<billing service uri>"
    },
    "sqlServer": {
      "connectionString": "Server=localhost;Database=vault_dev;User Id=SA;Password=SET_A_PASSWORD_HERE_123;Encrypt=True;TrustServerCertificate=True",
      "password": <password for SA account>
    },
    "postgreSql": {
      "connectionString": "Host=localhost;Username=postgres;Password=SET_A_PASSWORD_HERE_123;Database=vault_dev;Include Error Detail=true"
    },
    "mySql": {
      "connectionString": "server=localhost;uid=root;pwd=SET_A_PASSWORD_HERE_123;database=vault_dev"
    },
    "sqlite": {
      "connectionString": "Data Source=/path/to/bitwardenServer/repository/server/dev/db/bitwarden.db"
    },
    "identityServer": {
      "certificateThumbprint": "<your Identity certificate thumbprint with no spaces>"
    },
    "dataProtection": {
      "certificateThumbprint": "<your Data Protection certificate thumbprint with no spaces>"
    },
    "installation": {
      "id": "<your Installation Id>",
      "key": "<your Installation Key>"
    },
    "events": {
      "connectionString": "",
      "queueName": "event"
    },
    "licenseDirectory": "<full path to license directory>",
    "enableNewDeviceVerification": true,
    "enableEmailVerification": true
    },
    "ngrokAuthToken": "",
    "workingDirectory": "../dev",
    "clientsRelativePath": "<relative path to the client project>",
    "pricingServiceSecretsPath": "<relative path to the secrets file for the pricing service>",
    "pricingServiceRelativePath": "<relative path to the pricing service project>",
    "scripts": {
      "dbMigration": "migrate.ps1",
      "azuriteSetup": "setup_azurite.ps1",
      "secretsSetup": "setup_secrets.ps1"
    },
}
