@model Bit.Core.Models.Mail.ChangeEmailViewModel
@{
    Layout = "_BasicMailLayout";
}
<p>
    To finalize changing your email address enter the following code in the pop-up window: @Model.Token
</p>
