@model Bit.Core.Models.Mail.MasterPasswordHintViewModel
@{
    Layout = "_BasicMailLayout";
}
<p>You (or someone) recently requested your master password hint.</p>
<p>Your hint is: "@Model.Hint"</p>
<p>Login: <a href="@Model.WebVaultUrl" target="_blank">@Model.WebVaultUrl</a></p>
<p>If you did not request your master password hint you can safely ignore this email.</p>
