@model Bit.Core.Models.Mail.OrganizationUserInvitedViewModel
@{
    Layout = "_BasicMailLayout";
}
<p>
    You have been invited to join the @Model.OrganizationName organization.
    To accept this invite, click the following link:
</p>
<p><a href="@Model.Url" target="_blank">@Model.Url</a></p>
<p>
    If you do not wish to join this organization, you can safely ignore
    this email.
</p>