@model Bit.Core.Models.Mail.OrganizationUserConfirmedViewModel
@{
    Layout = "_BasicMailLayout";
}
<p>This email is to notify you that you have been confirmed as a user of @(Model.OrganizationName).</p>
<p>Any collections and logins being shared with you by this organization will now appear in your bitwarden vault.</p>
