@model CreateResellerProviderModel

@{
    ViewData["Title"] = "Create Reseller Provider";
}

<h1>Create Reseller Provider</h1>
<div>
    <form class="mb-3" method="post" asp-action="CreateReseller">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="mb-3">
            <label asp-for="BusinessName" class="form-label"></label>
            <input type="text" class="form-control" asp-for="BusinessName">
        </div>
        <div class="mb-3">
            <label asp-for="BillingEmail" class="form-label"></label>
            <input type="text" class="form-control" asp-for="BillingEmail">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create Provider</button>
    </form>
</div>
