@model CreateResellerProviderModel

@{
    ViewData["Title"] = "Create Reseller Provider";
}

<h1>Create Reseller Provider</h1>
<div>
    <form class="form-group">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
        <div class="form-group">
            <label asp-for="BusinessName"></label>
            <input type="text" class="form-control" asp-for="BusinessName">
        </div>
        <div class="form-group">
            <label asp-for="BillingEmail"></label>
            <input type="text" class="form-control" asp-for="BillingEmail">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create Provider</button>
    </form>
</div>
