@model CreateMspProviderModel

@{
    ViewData["Title"] = "Create Managed Service Provider";
}

<h1>Create Managed Service Provider</h1>
<div>
    <form class="form-group" method="post" asp-action="CreateMsp">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <div class="form-group">
            <label asp-for="OwnerEmail"></label>
            <input type="text" class="form-control" asp-for="OwnerEmail">
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="TeamsMonthlySeatMinimum"></label>
                    <input type="number" class="form-control" asp-for="TeamsMonthlySeatMinimum">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="EnterpriseMonthlySeatMinimum"></label>
                    <input type="number" class="form-control" asp-for="EnterpriseMonthlySeatMinimum">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create Provider</button>
    </form>
</div>
