{{#>FullUpdatedHtmlLayout}}
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #175DDC;padding-top:45px; ">
    <tr>
        <td align="center" valign="top" width="70%" class="templateColumnContainer">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-left:30px; padding-right: 5px; padding-bottom: 35px;">
                <tr>
                    <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 24px; color: #ffffff; line-height: 32px; font-weight: 400; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none;">
                        {{TitleFirst}}<b class="white-title">{{TitleSecondBold}}</b>{{TitleThird}}
                    </td>
                </tr>
            </table>
        </td>
        <td align="right" valign="bottom" class="templateColumnContainer" style="padding-right: 10px;">
            <img width="140" height="140" align="right" valign="bottom" style="width: 140px; height:140px; font-size: 0; vertical-align: bottom; text-align: right;" alt='' src='https://assets.bitwarden.com/email/v1/business.png' />
        </td>
    </tr>
</table>

{{>@partial-block}}

<table width="100%" style="display:table; background-color: #FBFBFB; vertical-align: middle; padding:30px" border="0" cellpadding="0" cellspacing="0" valign="middle">
    <tr>
        <td width="70%" class="footer-text" style="padding-right: 20px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px;">
                        <p style="margin: 0; padding: 0; margin-bottom: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px;">We’re here for you!</p>
                        If you have any questions, search the Bitwarden <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://bitwarden.com/help/">Help</a> site or <a style="text-decoration: none; color: #175DDC; font-weight: 600;" href="https://bitwarden.com/contact/">contact us</a>.
                    </td>
                </tr>
            </table>
        </td>
        <td width="30%">
            <table align="right" valign="bottom" class="footer-image" border="0" cellpadding="0" cellspacing="0" style="padding-left: 40px;">
                <tr>
                    <td>
                        <img width="94" height="77" src="https://assets.bitwarden.com/email/v1/chat.png" style="width: 94px; height: 77px;" alt="" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/FullUpdatedHtmlLayout}}