@model ErrorViewModel
@inject IWebHostEnvironment host
@{
    ViewData["Title"] = i18nService.T("Error");
}

<h1 class="text-danger">@i18nService.T("Error")@(string.IsNullOrWhiteSpace(Model?.Message) ? null : $": {Model.Message}")</h1>
@if (!string.IsNullOrWhiteSpace(Model?.RedirectUri))
{
    <p class="text-danger">@Html.Raw(i18nService.T("SsoErrorWithRedirect", Model?.RedirectUri))</p>
}
else
{
    <p class="text-danger">@i18nService.T("SsoError")</p>
}
@if (!string.IsNullOrWhiteSpace(Model?.Description))
{
    <p class="text-danger">@Model?.Description</p>
}
@if (!string.IsNullOrWhiteSpace(Model?.RequestId))
{
    <p><strong>@i18nService.T("RequestId"):</strong> <code>@Model?.RequestId</code></p>
}
