<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Announcement</title>
    <link href="../styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <table class="body-wrap" cellpadding="0" cellspacing="0">
        <tr>
            <td class="container" align="center">
                <table cellpadding="0" cellspacing="0" class="container-table">
                    <tr>
                        <td class="content content-banner" align="center">
                            <a href="#" title="" target="_blank" class="banner">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Announcement%20Image&w=600&h=158"
                                     width="600" alt="" />
                            </a>
                            <table class="main" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-wrap">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="h3 content-block">
                                                    A title!
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block">
                                                    Some text about an announcement.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block indented">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td width="15">&bull;</td>
                                                            <td class="li">Bullet 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>&bull;</td>
                                                            <td class="li">Bullet 2</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block last">
                                                    Thank you!<br />
                                                    The Bitwarden Team
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="footer" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="aligncenter content-block">
                                        8bit Solutions LLC<br />
                                        You can <a href="[unsubscribe]">unsubscribe</a> from future mailings.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="aligncenter social-icons" align="center">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><a href="https://twitter.com/bitwarden_app" target="_blank"><img src="https://bitwarden.com/images/mail-twitter.png" alt="Twitter" width="30" height="30" /></a></td>
                                                <td><a href="https://www.facebook.com/bitwarden/" target="_blank"><img src="https://bitwarden.com/images/mail-facebook.png" alt="Facebook" width="30" height="30" /></a></td>
                                                <td><a href="https://plus.google.com/+bitwarden" target="_blank"><img src="https://bitwarden.com/images/mail-gplus.png" alt="Google+" width="30" height="30" /></a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
