<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Announcement</title>
    <link href="../styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
    <table class="body-wrap" cellpadding="0" cellspacing="0">
        <tr>
            <td class="container" align="center">
                <table cellpadding="0" cellspacing="0" class="container-table">
                    <tr>
                        <td class="content content-banner" align="center">
                            <a href="https://blog.bitwarden.com/premium-features-attachments-2fa-options-totp-priority-support-d4c12e2d9018" title="bitwarden premium membership" target="_blank" class="banner">
                                <img src="https://bitwarden.com/images/mail/premium.png"
                                     width="600" alt="" />
                            </a>
                            <table class="main" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-wrap">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="content-block-spaced">
                                                    Today we're excited to announce the release of the <a href="https://vault.bitwarden.com/#/?premium=purchase" target="_blank">bitwarden premium membership</a>, which includes access to some great new features:
</a></td>
                                            </tr>
                                            <tr>
                                                <td class="h3 content-block">
                                                    File Attachments
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block">
                                                    Often times you have sensitive files such as private keys, scanned documents, etc. that need to be securely stored, protected, and sharable. bitwarden premium gives you 1GB of encrypted file storage that allows you to securely store file attachments to any entry in your vault.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced">
                                                    <a href="#" target="_blank">&rarr; Learn more</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h3 content-block">
                                                    Additional Two-step Login (2FA) Options
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block">
                                                    Premium membership unlocks access to additional two-step login options. Use Duo, YubiKey, and/or FIDO U2F to further secure your account.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced">
                                                    <a href="#" target="_blank">&rarr; Learn more</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h3 content-block">
                                                    TOTP Verification Codes
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block">
                                                    bitwarden can replace existing authenticator apps such as Authy and Google Authenticator. Securely store authenticator keys and bitwarden will generate TOTP verification codes for you, even assisting you during login auto-fills.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced">
                                                    <a href="#" target="_blank">&rarr; Learn more</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="h3 content-block">
                                                    Priority Customer Support
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced">
                                                    Receive priority customer support when contacting us with questions or for help. Your inquires will be responded to quicker and prioritized over any others received by free users.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced aligncenter">
                                                    <a href="https://blog.bitwarden.com/premium-features-attachments-2fa-options-totp-priority-support-d4c12e2d9018" target="_blank"><img src="https://bitwarden.com/images/mail/share-more-button2.png" title="Read the full announcement on our blog..." alt="Read the full announcement on our blog..." width="266" /></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block-spaced">
                                                    You can purchase a bitwarden premium membership by logging into the <a href="https://vault.bitwarden.com/#/?premium=purchase" target="_blank">web vault</a> and navigating to <strong>Settings</strong> &rarr; <strong>Go Premium</strong>.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block last">
                                                    Regards,<br />
                                                    The bitwarden Team
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="footer" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="aligncenter content-block">
                                        8bit Solutions LLC<br />
                                        You can <a href="[unsubscribe]">unsubscribe</a> from future mailings.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="aligncenter social-icons" align="center">
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><a href="https://twitter.com/bitwarden_app" target="_blank"><img src="https://bitwarden.com/images/mail-twitter.png" alt="Twitter" width="30" height="30" /></a></td>
                                                <td><a href="https://www.facebook.com/bitwarden/" target="_blank"><img src="https://bitwarden.com/images/mail-facebook.png" alt="Facebook" width="30" height="30" /></a></td>
                                                <td><a href="https://plus.google.com/114869903467947368993" target="_blank"><img src="https://bitwarden.com/images/mail-gplus.png" alt="Google+" width="30" height="30" /></a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
