{{#>TitleContactUsHtmlLayout}}
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="display: table; width:100%; padding: 30px; text-align: left;" align="center">
        <tr>
            <td display="display: table-cell">
                As a member of {{OrganizationName}}, your Bitwarden account is claimed and owned by your organization.
            </td>
        </tr>
        <tr>
            <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
                <b>Here's what that means:</b>
                <ul>
                    <li>This account should only be used to store items related to {{OrganizationName}}</li>
                    <li>Admins managing your Bitwarden organization manage your email address and other account settings</li>
                    <li>Admins can also revoke or delete your account at any time</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 25px; margin-left: 35px; margin-right: 35px;">
                For more information, please refer to the following help article: <a href="https://bitwarden.com/help/claimed-accounts">Claimed Accounts</a>
            </td>
        </tr>
    </table>
{{/TitleContactUsHtmlLayout}}
