@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<Bit.Core.Models.Table.User> SignInManager
@inject Bit.Core.Services.II18nService i18nService
@inject Bit.Portal.EnterprisePortalCurrentContext EnterprisePortalCurrentContext

<div class="page-header">
    <h1>@i18nService.T("WelcomeToBusinessPortal")</h1>
</div>
<div class="row">
    @if (EnterprisePortalCurrentContext.SelectedOrganizationDetails.UseSso &&
         EnterprisePortalCurrentContext.AdminForSelectedOrganization)
    {
        <div class="col">
            <a class="card p-5 border border-primary" asp-area="" asp-controller="Sso" asp-action="Index">
                <h2 class="card-title text-center">@i18nService.T("SingleSignOn")</h2>
            </a>
        </div>
    }

    @if (EnterprisePortalCurrentContext.SelectedOrganizationDetails.UsePolicies &&
         EnterprisePortalCurrentContext.AdminForSelectedOrganization)
    {
        <div class="col">
            <a class="card p-5 border border-primary" asp-area="" asp-controller="Policies" asp-action="Index">
                <h2 class="card-title text-center">@i18nService.T("Policies")</h2>
            </a>
        </div>
    }
</div>