/* -------------------------------------
    GLOBAL
    A very basic CSS reset
------------------------------------- */
body, html, body * {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

img {
    max-width: 100%;
    border: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    width: 100% !important;
    height: 100%;
    line-height: 22px;
}

/* Let's make sure all tables have defaults */
table td {
    vertical-align: top;
}

    table td.middle {
        vertical-align: middle;
    }

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
    background-color: #f6f6f6;
}

.body-wrap {
    background-color: #f6f6f6;
    width: 100%;
}

.container {
    display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
    /* makes it centered */
    clear: both !important;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 0 20px 20px 20px;
}

/* -------------------------------------
    LOGO, HEADER, FOOTER, MAIN
------------------------------------- */
.logo {
    padding: 20px 0 10px;
    text-align: center;
}

.main {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.content-wrap {
    padding: 20px;
}

.content-block {
    padding: 0 0 15px;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    clear: both;
    color: #999;
    padding-top: 15px;
}

    .footer p, .footer a, .footer td {
        color: #999;
        font-size: 12px;
    }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

.h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
    color: #3c8dbc;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #3c8dbc;
    border: solid #3c8dbc;
    border-width: 10px 20px;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.first {
    margin-top: 0;
    padding-top: 0;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.clear {
    clear: both;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
.alert {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

    .alert a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
    }

    .alert.alert-warning {
        background-color: #FF9F00;
    }

    .alert.alert-bad {
        background-color: #D0021B;
    }

    .alert.alert-good {
        background-color: #68B90F;
    }

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
    body {
        padding: 0 !important;
    }

    .container {
        padding: 0 !important;
        width: 100% !important;
    }

    .content {
        padding: 0 !important;
    }

    .content-wrap {
        padding: 10px !important;
    }

    .invoice {
        width: 100% !important;
    }

    .main {
        border-right: none !important;
        border-left: none !important;
        border-radius: 0 !important;
    }

    .logo {
        padding-top: 10px;
    }
}
