name: Publish
run-name: Publish - ${{ inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (default: latest release)'
        required: true
        type: string
        default: latest

env:
  _REGISTRY: "ghcr.io/bitwarden"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      deployments: write
    outputs:
      branch-name: ${{ steps.branch.outputs.branch-name }}
      deployment-id: ${{ steps.deployment.outputs.deployment_id }}
      release-version: ${{ steps.version-output.outputs.version }}
    steps:
      - name: Version output
        id: version-output
        env:
          INPUT_VERSION: ${{ inputs.version }}
        run: |
          if [[ "${INPUT_VERSION}" == "latest" || "${INPUT_VERSION}" == "" ]]; then
            VERSION=$(gh api repos/bitwarden/server/releases | jq -c '.[] | select(.tag_name) | .tag_name' | head -1 | grep -ohE '20[0-9]{2}\.([1-9]|1[0-2])\.[0-9]+')
            echo "Latest Released Version: $VERSION"
            echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          else
            echo "Release Version: ${INPUT_VERSION}"
            echo "version=${INPUT_VERSION}" >> "$GITHUB_OUTPUT"
          fi

      - name: Get branch name
        id: branch
        run: |
          BRANCH_NAME=$(basename "${GITHUB_REF}")
          echo "branch-name=$BRANCH_NAME" >> "$GITHUB_OUTPUT"

      - name: Create GitHub deployment
        uses: chrnorm/deployment-action@55729fcebec3d284f60f5bcabbd8376437d696b1 # v2.0.7
        id: deployment
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          initial-status: 'in_progress'
          environment: 'production'
          description: 'Deployment ${{ steps.version-output.outputs.release-version }} from branch ${{ github.ref_name }}'
          task: release

  publish-docker:
    name: Publish Docker images
    runs-on: ubuntu-22.04
    needs: setup
    permissions:
      contents: read
      id-token: write
    env:
      _RELEASE_VERSION: ${{ needs.setup.outputs.release-version }}
      _BRANCH_NAME: ${{ needs.setup.outputs.branch-name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - project_name: Admin
          - project_name: Api
          - project_name: Attachments
          - project_name: Billing
          - project_name: Events
          - project_name: EventsProcessor
          - project_name: Icons
          - project_name: Identity
          - project_name: MsSql
          - project_name: MsSqlMigratorUtility
          - project_name: Nginx
          - project_name: Notifications
          - project_name: Scim
          - project_name: Setup
          - project_name: Sso
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up project name
        id: setup
        run: |
          PROJECT_NAME=$(echo "${{ matrix.project_name }}" | awk '{print tolower($0)}')
          echo "Matrix name: ${{ matrix.project_name }}"
          echo "PROJECT_NAME: $PROJECT_NAME"
          echo "project_name=$PROJECT_NAME" >> "$GITHUB_OUTPUT"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push version and latest image
        env:
          PROJECT_NAME: ${{ steps.setup.outputs.project_name }}
        run: |
          skopeo copy --all \
            "docker://${_REGISTRY}/${PROJECT_NAME}:${_BRANCH_NAME}" \
            "docker://${_REGISTRY}/${PROJECT_NAME}:${_RELEASE_VERSION}"

          skopeo copy --all \
            "docker://${_REGISTRY}/${PROJECT_NAME}:${_BRANCH_NAME}" \
            "docker://${_REGISTRY}/${PROJECT_NAME}:latest"

      - name: Log out of GHCR
        run:  docker logout ghcr.io

  update-deployment:
    name: Update Deployment Status
    runs-on: ubuntu-22.04
    needs:
      - setup
      - publish-docker
    permissions:
      deployments: write
    if: ${{ always() }}
    steps:
      - name: Check if any job failed
        if: contains(needs.*.result, 'failure')
        run: exit 1

      - name: Update deployment status to Success
        if: ${{ success() }}
        uses: chrnorm/deployment-status@9a72af4586197112e0491ea843682b5dc280d806 # v2.0.3
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          state: 'success'
          deployment-id: ${{ needs.setup.outputs.deployment-id }}

      - name: Update deployment status to Failure
        if: ${{ failure() }}
        uses: chrnorm/deployment-status@9a72af4586197112e0491ea843682b5dc280d806 # v2.0.3
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          state: 'failure'
          deployment-id: ${{ needs.setup.outputs.deployment-id }}
